name: Deploy to Azure Static Web Apps

on:
  push:
    branches: ["**"]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          cache-dependency-path: src/package-lock.json
      - run: npm ci
        working-directory: ./src
      - run: npm run build
        working-directory: ./src
      - uses: azure/login@v2
        with:
          client-id: "6658b414-c24f-4a3d-9c88-d160af9f5191"
          tenant-id: "160c697c-1fc7-465c-9187-67e7080382bb"
          subscription-id: "b8affb75-1fd8-4116-8065-dc871fdbe8bc"
      - name: Deploy to Azure Static Web Apps
        run: |
          if [ "${GITHUB_REF_NAME}" = "main" ]; then
            az staticwebapp upload \
              --name "zure-speakers" \
              --resource-group "zure-speakers" \
              --source "./src/out"
          else
            env_name=$(echo "${GITHUB_REF_NAME}" | tr '/_' '-')
            az staticwebapp upload \
              --name "zure-speakers" \
              --resource-group "zure-speakers" \
              --environment "${env_name}" \
              --source "./src/out"
          fi
